// CONSTANTS:
$app-background-color: #E5E5E5;
$navy-blue-color: #16103E;
$navy-blue-color-2: rgba(22, 16, 62, 0.7);
$highlight-color: #F6F8FA;
$active-item-color: #E3E8EC;
$footer-background: #F1F3F5;
$footer-highlight-color: rgba(227, 232, 236, 0.8);
$modal-background: rgba(114, 114, 114, 0.5);