.todo {
    display: flex;
    padding: 44px;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #6f6f6f;
    box-sizing: border-box;
    border-radius: 5px;
}

.todo:last-child {
    margin-bottom: 0;
}