@import '../../utils/styles/constants', '../../utils/styles/mixins';

.language-item {
    margin: 0;
    padding: 0;
    width: 150px;

    &__link {
        margin: 0;
        padding: 10px 10px 10px 38px;
        box-sizing: border-box;
        width: 100%;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        background-size: 18px 18px;
        background-position: 10px center;
        background-repeat: no-repeat;
        @include language-btn-font;

        &:hover {
            background-color: $highlight-color;
            font-weight: 700;
        }

        &:active {
            background-color: $active-item-color;
            font-weight: 700;
        }
    }
}